<%= link_to 'Edit', edit_profile_path(@profile) %> |

<p> <b>First Name:</b>
	<%= h @profile.first_name %></p>
	
<p> <b>Last Name:</b>
	<%= h @profile.first_name %></p>
	
<p><b>Industry:<b>
	<%= h @profile.industry%></p>
<p><b>Location:</b>
	<%= h @profile.location%></p>
<p><b>Bio:</b>
	<%= h @profile.bio%></p>
<p><b>School</b>
	<%=@profile.my_story%></p>
	
	

